.usgs-map-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.map-container {
  /* height: 600px; */
  height: 80vh;
  /* height: 80vmin 1 rem; */

}

.topbar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  margin-top: 12vh;
  border-radius: 4px;
}

.input-form {
  margin-top: 2vh;
  display: flex;
  justify-content: space-around;
}

/* not needed */
.marker {
  background-image: url('../src/assets/marker-11.svg');
  /* background-color: black; */
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  color: rgb(51, 46, 46);
  min-width:fit-content;
  max-width: 800px;
  font: 10px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}


.legend {
  background-color: rgb(215, 230, 224);
  border-radius: 3px;
  top: 0px;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 10px;
  position: absolute;
  right: 10px;
  z-index: 1;
  margin-top: 12vh;
}
   
.legend h4 {
  margin: 0 0 10px;
}
  
.legend div {
  text-align: start;
  border-radius: 50%;
  height: 16px;
  margin-right: 5px;
}